$border-color: #e2e2e2;
$text-blue-color: #2b6dad;
$ul_background_color: white;
$input_And_ul_width: 334.55px;
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
.App{
  width:100%;
  font-family:$font-family;
  color: rgba(0,0,0,.73);
}  

input{
  width:300px;
  border:none;
  height: 29px;
  font-size:15px;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
} 

ul{
  list-style-type: none;
  text-align: left;
  margin:0;
  margin-top: 6px;
  padding:0;   
  border: 1px solid $border-color;
  background-color: $ul_background_color;
  border-radius: 4px;

}

li{
  padding: 10px 0;
  background-color: $ul_background_color;
  &:hover{
    background-color: #e0dddd;
    cursor: pointer;
   }
}

 .inputRap{
   margin:150px auto 0 auto;
   width:$input_And_ul_width;
   height: 33px;
   border: 1px solid $border-color;
   border-radius: 4px;
   background-color: white;
 }

 .searchIcon{
   position: relative;
   top:5px;
   padding-left:5px;
   margin-right:4px;
   height: 23px;
   width: 25px;
 }

 .sameLine{
   position: relative;
   left:5px;
 }
 .showSearch{
   font-weight: bold;
   color: darkblue;
 }

 .firstLi{
  background-color: #ccc;
 }

 .right{
   float: right;
 }

 .firstListItem{
  border-bottom: 1px solid $border-color;
 }

 .searchListItem{
   height:30px;
  border-bottom:1px solid $border-color; 
  &:hover{
    color: $text-blue-color;
  }
 }

 .lastListItem{
   width: 50%;
   padding-left:5px;
   color: #2b6dad;
   background-color: #fafafa;
    &:hover{
      background-color: #f0eeee;
    }
 }

  #backgroundDim{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65); /* Black background with opacity */
    z-index: -1;
  }
.ChatBubble{
  border-radius: 4px;
  width: $input_And_ul_width;
  margin: 15px auto;
  border: 1px solid $border-color;
  position: relative;
}
.ChatBubble::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $border-color;
  border-top: 13px solid transparent;
  right: 50%;
  top: -23px;
}
.ChatBubble::after{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-top: 10px solid transparent;
  right: 50%;
  top: -18px;
}

